﻿@{
    ViewBag.Title = "Security System";
}

<div style="background-color:#C0C0C0" id="thisDiv">
    <div id="AlarmTableOutput">

    </div>




    <script style="background-color:#C0C0C0" id="AlarmTable" type="text/html">
        <br />
        <br />
        <b>ALARMS : </b>
        <br />
        <br />




        <table class="table table-striped table-dark">

            <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Status</th>
            </tr>
            <tbody>
            {{#each Alarm}}
            <tr data-id={{Id}}>
                <td>{{Name}}</td>
                <td>{{Location}}</td>
                <td>{{Status}}</td>
               
            </tr>
            {{/each}}
            </tbody>
        </table>
        <br />
        <div style="background-color:#ffffff">
          

            <!---################################# RESET BUTTON CODE ##################################### -->
            <hr />

            <b>RESET ALARM :<br /><br /></b>
            <form class="form-inline" onsubmit="resetAlarm()">

                <!--  <label for="name">Name</label>
        <input type="text" name="name" id="Name" required />
        <label for="location">Location:</label>
        <input type="text" name="location" id="Location" required" />
          <label for="status">Status:</label>
            <input type="number" name="status" id="Status" required" />-->
                <input class="btn btn-success btn-md" value="RESET" type="submit" id="resetAlarmBt" />
            </form>
            <!---################################# RESET BUTTON CODE ##################################### -->
        </div>
    </script>





</div>

@section scripts{


    <script src="http://localhost:49912/Scripts/handlebars.js"></script>

    <script>

        var AlarmServer = (function () {
            var AlarmUrl = 'http://localhost:49912/api/Alarms';
            //var AlarmUrl = 'http://localhost:49912';

            $(document).ajaxError(function (event, xhr) {
                alert(xhr.status + "-" + xhr.statusText);

            });

            var getAlarms = function () {
                return $.ajax(AlarmUrl);
            };

            //#################################### RESET BUTTON CODE #########################
            var updateAlarm = function (Alarm) {


                return $.ajax(AlarmUrl + "/" + Alarm.Id, {
                    type: "Put",
                    data: Alarm
                });
            };
            //#################################### RESET BUTTON CODE #########################
            return {
                updateAlarm: updateAlarm,//############## RESET BUTTON CODE
                getAlarms: getAlarms,
            };

        }());

        (function () {


            

            var templates = {};

            var compileTemplates = function () {
                templates.AlarmTable = Handlebars.compile($("#AlarmTable").html());
            };

            var showAllAlarms = function (data) {
                var output = templates.AlarmTable({ Alarm: data });
                $("#AlarmTableOutput").html(output);
            };



            //#################################### RESET BUTTON CODE #########################
            var resetAlarm = function () {
                //alert("reset Alarm called");

                var Alarm = {
                    "Id": "null",
                    "Name": "null",
                    "Location": "null",
                    //"Status": $('#Status').val()
                    "Status": "null",

                };

                AlarmServer.updateAlarm(Alarm).done(refreshAlarms, showAllAlarms);


                return false;
            };

            //#################################### RESET BUTTON CODE #########################

            //   var wireEvents = function () {
            //     $(document).on("click", "#resetAlarmBt", resetAlarm);
            // };//##############

            var refreshAlarms = function () {
                AlarmServer.getAlarms().done(showAllAlarms);

            };


            $(function () {
                // wirevents();
                $(document).on("click", "#resetAlarmBt", resetAlarm);
                compileTemplates();
                refreshAlarms();
            });
        }());

    </script>}