﻿@{
    ViewBag.Title = "Security System";

}

<div style="background-color:#C0C0C0" id="doorTableOutput">

</div>



<script id="doorTable" type="text/html">
    <br />
    <br />
    <b>Doors : </b>
    <br />
    <br />




    <table class="table table-striped table-dark">

        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Status</th>
            <th>Lock</th>
        </tr>
        <tbody>
            {{#each door}}
            <tr data-id={{Id}}>
                <td>{{Name}}</td>
                <td>{{Location}}</td>
                <td>{{Status}}</td>
                <td>
                    <input class="btn btn-primary btn-md" value="OPEN" type="submit" id="resetBt" />
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <br />
    <div style="background-color:#ffffff">


        <!---################################# RESET BUTTON CODE ##################################### -->
        <hr />

        <b>RESET ALARM :<br /><br /></b>
        <form class="form-inline" onsubmit="resetAlarm()">

            <!-- <label for="name">Name</label>
            <input type="text" name="name" id="Name" required />
            <label for="location">Location:</label>
            <input type="text" name="location" id="Location" required" />
              <label for="status">Status:</label>
            <input type="number" name="status" id="Status" required" />-->
            <input class="btn btn-primary btn-md" value="CLOSE ALL" type="submit" id="resetAlarmBt" />
        </form>
        <!---################################# RESET BUTTON CODE ##################################### -->
    </div>
</script>






@section scripts{


    <script src="http://localhost:49912/Scripts/handlebars.js"></script>

    <script>

        

      

        var doorServer = (function () {
            var doorUrl = 'http://localhost:49912/api/doors';
            //var doorUrl = 'http://localhost:49912';

            $(document).ajaxError(function (event, xhr) {
                alert(xhr.status + "-" + xhr.statusText);

            });

            var getdoors = function () {
                return $.ajax(doorUrl);
            };

            //#################################### RESET BUTTON CODE #########################
            var updateAlarm = function (door) {
               

                return $.ajax(doorUrl + "/" + "all", {
                    type: "Put",
                    data: door
                });
            };

            var updateSingleAlarm = function (door) {


                return $.ajax(doorUrl + "/" + door.Id, {
                    type: "Put",
                    data: door
                });
            };

            //#################################### RESET BUTTON CODE #########################
            return {
                updateAlarm: updateAlarm,//############## RESET BUTTON CODE
                getdoors: getdoors,
                updateSingleAlarm: updateSingleAlarm,
            };

        }());

        (function () {

            var templates = {};

            var compileTemplates = function () {
                templates.doorTable = Handlebars.compile($("#doorTable").html());
            };

            var showAlldoors = function (data) {
                var output = templates.doorTable({ door: data });
                $("#doorTableOutput").html(output);
            };

            var getId = function(element) {
                return  $(element).parents("tr").attr("data-id");
            };

            function foo() {
            
                //console.log(door.Name);  
                //alert("foo called : "+getId(this));
                var doorUrl = 'http://localhost:49912/api/doors';
                var door = {
                    "Id": getId(this),
                    "Name": getId(this),
                    "Location": "PSN",
                    //"Status": $('#Status').val()
                    "Status": "OPENED"

                };
                doorServer.updateSingleAlarm(door).done(refreshdoors, showAlldoors);
                

                
            }

            //#################################### RESET BUTTON CODE #########################
            var resetAlarm = function () {
                //alert("reset Alarm called");

                var door = {
                    "Id": "null",
                    "Name": "null",
                    "Location": "null",
                    //"Status": $('#Status').val()
                    "Status": "null",

                };

                doorServer.updateAlarm(door).done(refreshdoors, showAlldoors);


                return false;
            };

            

            //#################################### RESET BUTTON CODE #########################

            //   var wireEvents = function () {
            //     $(document).on("click", "#resetAlarmBt", resetAlarm);
            // };//##############

            var refreshdoors = function () {
                doorServer.getdoors().done(showAlldoors);

            };




   





            $(function () {
                // wirevents();
                $(document).on("click", "#resetAlarmBt", resetAlarm);
                $(document).on("click", "#resetBt", foo);

                compileTemplates();
                refreshdoors();
            });
        }());

    </script>}