﻿@{
    ViewBag.Title = "Security System";
}

<html>
<head>
    <script type = "text/javascript">
        <!--
        function RedirectSmokeDetector() {
            window.location = "home/smokedetector";
        }
        function RedirectAlarm() {
            window.location = "home/alarm";
        }
        function RedirectDoor() {
            window.location = "home/door";
        }
        //-->
    </script>
</head>
   
<body style="background-color:	#C0C0C0">



    <form class="form-inline">
        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        <input style="margin-left: 15%" class="btn btn-primary btn-lg" type="button" value="Smoke Detectors" onclick="RedirectSmokeDetector();" /> 
        <input style="margin-left: 15%" class="btn btn-primary btn-lg" type="button" value="Alarms" onclick="RedirectAlarm();" />
        <input style="margin-left: 15%" class="btn btn-primary btn-lg" type="button" value="Doors" onclick="RedirectDoor();" />
        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    </form>
      
</body>
</html>