﻿@{
    ViewBag.Title = "Security System";
}

<div style="background-color:#C0C0C0" id="smokeDetectorTableOutput">

</div>



<script style="background-color:#C0C0C0" id="smokeDetectorTable" type="text/html">
    <br />
    <br />
    <b>SMOKE SENSORS : </b>
    <br />
    <br />




    <table class="table table-striped table-dark">

        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Status</th>
        </tr>
        <tbody>
            {{#each smokeDetector}}
            <tr data-id={{Id}}>
                <td>{{Name}}</td>
                <td>{{Location}}</td>
                <td>{{Status}}</td>
                
            </tr>
            {{/each}}
        </tbody>
    </table>

   
    <div style="background-color:#ffffff">
    <!---################################# RESET BUTTON CODE ##################################### -->
    <hr />
    <br />
    <b>RESET SENSOR :<br /><br /></b>
    <form class="form-inline" onsubmit="resetAlarm()">

        <label for="name">Name :   </label>
        <input style="margin-left: 1%" type="text" name="name" id="Name" required />
        <label style="margin-left: 10%" for="location">Location :   </label>
        <input style="margin-left: 1%" type="text" name="location" id="Location" required" />
        <!--  <label for="status">Status:</label>
        <input type="number" name="status" id="Status" required" />-->
        <input style="margin-left: 5%" class="btn btn-primary btn-md" type="submit" id="resetAlarmBt" />
    </form>
    <!---################################# RESET BUTTON CODE ##################################### -->
    </div>
</script>







@section scripts{


    <script src="http://localhost:49912/Scripts/handlebars.js"></script>

    <script>

        var smokeDetectorServer = (function () {
            var smokeDetectorUrl = 'http://localhost:49912/api/SmokeDetectors';
            //var smokeDetectorUrl = 'http://localhost:49912';

            $(document).ajaxError(function (event, xhr) {
                alert(xhr.status + "-" + xhr.statusText);

            });

            var getSmokeDetectors = function () {
                return $.ajax(smokeDetectorUrl);
            };

            //#################################### RESET BUTTON CODE #########################
            var updateAlarm = function (smokeDetector) {
                alert("update Alarm called" + smokeDetector.Id + "#");

                return $.ajax(smokeDetectorUrl + "/" + smokeDetector.Id, {
                    type: "Put",
                    data: smokeDetector
                });
            };
            //#################################### RESET BUTTON CODE #########################
            return {
                updateAlarm: updateAlarm,//############## RESET BUTTON CODE
                getSmokeDetectors: getSmokeDetectors,
            };

        }());

        (function () {

            var templates = {};

            var compileTemplates = function () {
                templates.smokeDetectorTable = Handlebars.compile($("#smokeDetectorTable").html());
            };

            var showAllSmokeDetectors = function (data) {
                var output = templates.smokeDetectorTable({ smokeDetector: data });
                $("#smokeDetectorTableOutput").html(output);
            };


            //#################################### RESET BUTTON CODE #########################
            var resetAlarm = function () {
                //alert("reset Alarm called");

                var smokeDetector = {
                    "Id": $('#Name').val(),
                    "Name": $('#Name').val(),
                    "Location": $('#Location').val(),
                    //"Status": $('#Status').val()
                    "Status": "0",

                };

                smokeDetectorServer.updateAlarm(smokeDetector).done(refreshSmokeDetectors, showAllSmokeDetectors);


                return false;
            };

            //#################################### RESET BUTTON CODE #########################

            //   var wireEvents = function () {
            //     $(document).on("click", "#resetAlarmBt", resetAlarm);
            // };//##############

            var refreshSmokeDetectors = function () {
                smokeDetectorServer.getSmokeDetectors().done(showAllSmokeDetectors);

            };

            $(function () {
                // wirevents();
                $(document).on("click", "#resetAlarmBt", resetAlarm);
                compileTemplates();
                refreshSmokeDetectors();
            });
        }());

    </script>}